.button {
  position: relative;
  border: 1px solid var(--button-color);
  height: var(--button-medium-height);
  line-height: var(--button-medium-height);
  padding: var(--button-medium-padding);
  border-radius: var(--radius-base);
  background-color: var(--button-color);
  color: var(--button-text-color);
  cursor: pointer;
  font-size: var(--font-size-base);
  font-weight: 600;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  white-space: nowrap;
  transition: var(--transition-base);
  text-transform: uppercase;
}

.button:disabled {
  background-color: var(--color-gray-200) !important;
  border-color: var(--color-gray-200);
  color: var(--color-gray-300);
  cursor: no-drop;
}

.button:hover {
  background-color: var(--button-color-hover);
}

.button:active {
  transform: scale(0.95);
  background-color: var(--button-color-hover);
}

.small {
  border-radius: calc(var(--radius-base) - 2px);
  height: var(--button-small-height);
  line-height: var(--button-small-height);
  padding: var(--button-small-padding);
  font-size: calc(var(--font-size-base) * .8);
}

.large {
  height: var(--button-large-height);
  line-height: var(--button-large-height);
  padding: var(--button-large-padding);
}

.pill {
  border-radius: 100px !important;
}

.secondary {
  border-color: var(--color-primary-lighter);
  background-color: var(--color-primary-lighter);
  color: var(--button-color);
}

.secondary:hover {
  border-color: var(--button-color-hover);
}

.outlined {
  background-color: white;
  border-color: var(--font-color-muted);
  color: var(--font-color-base);
}

.active {
  color: white !important;
  border-color: var(--button-color) !important;
  background-color: var(--button-color-hover) !important;
}

.outlined:hover {
  border-color: var(--color-primary-lighter);
  background-color: var(--color-primary-lighter);
  color: var(--button-color);
}

.secondary:hover {
  color: var(--button-text-color);
}

.mobile {
  border-radius: var(--radius-base);
  font-size: calc(var(--font-size-base) * .8);
  height: calc(var(--button-medium-height) * .8);
  line-height: calc(var(--button-medium-height) * .8);
  padding: 0 calc(var(--spacer-base) * .8);
}

.mobile.small {
  border-radius: var(--radius-small);
  font-size: calc(var(--font-size-base) * .7);
  height: calc(var(--button-small-height) * .8);
  line-height: calc(var(--button-small-height) * .8);
  padding: 0 calc(var(--spacer-small) * .8);
}

.mobile.large {
  font-size: calc(var(--font-size-base) * .9);
  height: calc(var(--button-large-height) * .8);
  line-height: calc(var(--button-large-height) * .8);
  padding: 0 var(--spacer-base);
}
