.button {
  position: relative;
  border: none;
  height: var(--button-medium-height);
  line-height: var(--button-medium-height);
  padding: var(--button-medium-padding);
  border-radius: var(--radius-base);
  background-color: var(--color-primary);
  color: white;
  cursor: pointer;
  font-size: var(--font-size-base);
  font-weight: 600;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  white-space: nowrap;
}

.small {
  border-radius: calc(var(--radius-base) - 2px);
  height: var(--button-small-height);
  line-height: var(--button-small-height);
  padding: var(--button-small-padding);
}

.large {
  text-transform: uppercase;
  height: var(--button-large-height);
  line-height: var(--button-large-height);
  padding: var(--button-large-padding);
}

.pill {
  border-radius: 100px;
}
