.details {
  width: 100%;;
  margin-top: calc(var(--header-height) * -1);
  margin-bottom: var(--spacer-extra-large);
  min-height: 700px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

.backdrop {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  height: 700px;
  overflow: hidden;
  background-color: black;
}

.backdrop:before {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  background: rgba(0, 0, 0, 1);
  background: -moz-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
}

.backdrop > img {
  width: 100%;
}

.movieInfo {
  margin-bottom: var(--container-spacer);
  color: white;
}

.metadata {
  display: flex;
  align-items: center;
}

.rating {
  margin-right: var(--spacer-extra-large);
}

.buttons {
  margin-top: var(--spacer-extra-large);
}

.description {
  margin-top: var(--spacer-large);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.overview {
  margin-right: var(--spacer-base);
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.cast {
  flex: 1;
}
