.container {
  width: var(--show-item-size);
  aspect-ratio: 1 / 1.5;
}

.container:hover .poster {
  transform: scale(1.05);
}

.poster {
  transition: var(--transition-base);
}

.header {
  height: 52px;
  margin-top: 16px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.title {
  flex: 1;
  flex-basis: content;
  text-overflow: ellipsis;
  line-height: 1.5;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  cursor: default;
}

.rating {
  font-size: var(--font-size-small);
  flex-shrink: 0;
  line-height: 1.8;
}

.categories {
  margin-top: 8px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-small);
  color: var(--font-color-muted);
}


