.providers {
  margin-bottom: var(--spacer-extra-large);
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: var(--spacer-small);
}

.heading {
  margin-bottom: 0;
}

.items {
  display: flex;
  gap: var(--spacer-large);
  align-items: flex-start;
  margin-top: var(--spacer-large);
  flex-wrap: wrap;
}

.item {
  width: 80px;
  gap: var(--spacer-small);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
}

.logo {
  width: 80px;
  border-radius: var(--radius-base);
}

.providerName {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
