.container {
  position: relative;
  box-sizing: content-box;
  margin-top: calc(calc(var(--header-height) + var(--spacer-large)) * -1);
  margin-bottom: var(--spacer-extra-large);
  padding:
    calc(var(--header-height) + calc(var(--spacer-extra-large) * 2))
    var(--container-spacer)
    var(--container-spacer)
    var(--container-spacer);
  display: grid;
  grid-template-rows: 1fr auto auto;
  grid-template-columns: 70% 1fr;
  grid-template-areas:
    "details poster"
    "cast poster"
    "actions actions";
  gap: var(--spacer-large);
}

.backdrop {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: black;
  background-size: cover;
  background-position: top center;
}

.backdrop:before {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  background: rgba(0, 0, 0, 1);
  background: -moz-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, .5) 100%);
}

.cast {
  border: 1px solid green;
  grid-area: cast;
}

.poster {
  border: 1px solid orange;
  grid-area: poster;
}

.details {
  border: 1px solid red;
  grid-area: details;
  align-self: self-end;
}

.details .title {
  width: 100%;
  color: white;
}

.details .metadata {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--spacer-large);
}

.details .overview {
  display: block;
  margin-top: var(--spacer-large);
  margin-right: var(--spacer-large);
  line-height: 1.6;
}

.actions {
  border: 1px solid blue;
  grid-area: actions;
  display: grid;
  grid-template-columns: 70% 1fr;
  grid-template-areas: "left right";
  gap: var(--spacer-large);
}

.actions .leftActions {
  grid-area: left;
  justify-self: start;
  display: flex;
  gap: var(--spacer-large);
}

.actions .rightActions {
  grid-area: right;
  justify-self: center;
  place-items: center;
  display: flex;
  gap: var(--spacer-base);
}

@media screen and (max-width: 768px) {
  .container {
    padding-top: calc(var(--header-height) + var(--spacer-large));
    padding-bottom: var(--spacer-extra-large);
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      "poster"
      "actions"
      "details"
      "cast";
  }

  .details .title {
    text-align: center;
  }

  .details .metadata {
    justify-content: center;
  }

  .details .overview {
    text-align: justify;
    margin-right: 0;
  }

  .actions {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    place-items: center;
    gap: var(--spacer-base);
  }

  .actions .leftActions, .actions .rightActions {
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--spacer-base);
  }
}

/*
.showInfo {
  width: 100%;
  color: white;
}

.metadata {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--spacer-large);
}





.cast {
  flex: 1;
  justify-content: flex-start !important;
  display: flex;
  justify-content: flex-start;
  margin-top: var(--spacer-large);
  gap: calc(var(--spacer-base) * 1.5);
}

.poster {
  display: flex;
  gap: var(--spacer-large);
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.posterActions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacer-base);
}

.favoriteIcon {
  position: relative;
  display: inline-block;
  max-width: 20px;
  margin-right: var(--spacer-small);
}

.buttonAction {
  display: inline-flex;
  align-items: center;
}

.loaderTitle {
  display: flex;
  gap: var(--spacer-base);
  height: var(--font-size-large);
}

.loaderMetadata {
  margin-top: var(--spacer-large);
  display: flex;
  gap: var(--spacer-base);
}

.loaderOverview {
  margin-top: var(--spacer-large);
  width: 90%;
}

.loaderCastPerson {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacer-base);
}

.loaderCastName {
  height: var(--font-size-small);
  width: calc(var(--avatar-size) * .7);
}

.loaderAction {
  width: 200px;
  height: var(--button-large-height);
}

.loaderPoster {
  width: 300px;
  height: 400px;
}

@media screen and (max-width: 768px) {
  .details {
    padding-top: calc(var(--header-height) + var(--spacer-large));
    padding-bottom: var(--spacer-extra-large);
    display: grid;
    grid-template-columns: 1fr;
    align-items: flex-end;
    gap: var(--spacer-large);
  }

  .title {
    font-size: var(--font-size-large) !important;
  }

  .cast {
    flex: 1;
    gap: var(--spacer-base) !important;
  }

  .poster {
    grid-column-start: 1;
    grid-row-start: 1;
    align-self: center;
    width: 100%;
    gap: var(--spacer-large);
  }

  .posterImage {
    min-width: 100% !important;
    max-width: 100% !important;
  }

  .overview {
    margin-right: 0;
  }

  .rating {
    margin-right: var(--spacer-base);
  }

  .loaderPoster {
    width: 100%
  }

  .loaderOverview {
    width: 100%;
  }

  .buttons {
    gap: var(--spacer-base);
    flex-wrap: wrap;
  }
} */
