.heading1 {
  font-size: var(--font-size-extra-large);
  font-weight: bold;
  margin-bottom: 24px;
}

.heading2 {
  font-size: var(--font-size-large);
  margin-bottom: 16px;
  font-weight: bold;
}

.heading3 {
  font-size: var(--font-size-base);
  margin-bottom: 8px;
  font-weight: bold;
}

.headingThin {
  font-weight: normal !important;
}
