.container {
  width: 100%;
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.items {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: var(--spacer-large);
}

.show {
  margin-bottom: var(--spacer-large);
}
