.header {
  height: var(--header-height);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--spacer-extra-large);
}

.menu {
  flex: 1;
}

@media screen and (max-width: 768px) {
  .header {
    height: calc(var(--header-height) * .8);
    gap: var(--spacer-small);
  }

  .sponsor {
    font-size: calc(var(--font-size-small) * .8);
    height: 40px;
    line-height: 40px;
    padding: 0 12px;
  }
}
