.footer {
  width: 100%;
  margin-top: var(--spacer-extra-large);
  background-color: var(--color-gray-100);
  font-size: var(--font-size-small);
  color: var(--font-color-muted);
  padding: var(--spacer-extra-large) 0;
}

.logo {
  width: 32px !important;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--spacer-base);
  margin: var(--spacer-base) 0;
}

.bottom {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: var(--spacer-extra-large);
}

.disclaimer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: var(--spacer-large);
}

.sourceDataLogo {
  width: 100px;
  margin-left: var(--spacer-small);
}
