.page {
  width: 100%;
  margin: 0;
  -webkit-animation-name: pageTransition;
  animation-name: pageTransition;
  -webkit-animation-duration: .2s;
  animation-duration: .2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes pageTransition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pageTransition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
