:root {
  /* Colors */
  --color-primary: #FF0303;
  --color-primary-light: #e82930;
  --color-gray-100: #eef5fa;
  --color-gray-200: #9CA6AD;
  --color-gray-300: #4E6E81;
  --color-gray-400: #002233;

  /* Page */
  --container-spacer: var(--spacer-extra-large);

  /* Breakpoints */
  --small-device: 724px;

  /* Header */
  --header-height: 100px;

  /* Radius */
  --radius-small: 6px;
  --radius-base: 10px;
  --radius-large: 18px;
  --radius-extra-large: 24px;

  /* Spacers */
  --spacer-small: 12px;
  --spacer-base: 16px;
  --spacer-large: 32px;
  --spacer-extra-large: 64px;

  /* Transitions */
  --transition-base: all .2s ease-in-out;

  /* Fonts */
  --font-size-base: 18px;
  --font-size-small: 14px;
  --font-size-large: 32px;
  --font-size-extra-large: 52px;
  --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  --font-color-base: var(--color-gray-400);
  --font-color-muted: var(--color-gray-200);

  /* Buttons */
  --button-small-height: 44px;
  --button-small-padding: 0 calc(var(--spacer-small) + 2px);
  --button-medium-height: 58px;
  --button-medium-padding: 0 calc(var(--spacer-base) + 6px);
  --button-large-height: 76px;
  --button-large-padding: 0 var(--spacer-large);
  --button-color: var(--color-primary);
  --button-color-hover: var(--color-primary-light);
  --button-text-color: white;

  /* Shows */
  --show-item-size: 15%;

  /* Images */
  --avatar-size: 58px;
}

@media screen and (max-width: 768px) {
  :root {
    --container-spacer: var(--spacer-base);
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  color: var(--font-color-base);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: var(--color-primary);
  text-decoration: none;
  transition: var(--transition-base);
}

a:hover {
  color: var(--color-primary-light);
}
