:root {
  /* Colors */
  --color-primary: #D7272D;
  --color-gray-light: #9CA6AD;
  --color-gray-100: #eef5fa;

  /* Page */
  --container-width: 70vw;

  /* Header */
  --header-height: 100px;

  /* Radius */
  --radius-small: 6px;
  --radius-base: 10px;
  --radius-large: 18px;
  --radius-extra-large: 24px;

  /* Spacers */
  --spacer-small: 12px;
  --spacer-base: 16px;
  --spacer-large: 32px;
  --spacer-extra-large: 64px;

  /* Transitions */
  --transition-ease-out: all .5s ease-out;

  /* Fonts */
  --font-size-base: 18px;
  --font-size-small: 14px;
  --font-size-large: 32px;
  --font-size-extra-large: 52px;
  --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  --font-color-base: #222;
  --font-color-muted: var(--color-gray-light);

  /* Buttons */
  --button-small-height: 44px;
  --button-small-padding: 0 calc(var(--spacer-small) + 2px);
  --button-medium-height: 58px;
  --button-medium-padding: 0 calc(var(--spacer-base) + 6px);
  --button-large-height: 76px;
  --button-large-padding: 0 var(--spacer-large);

  /* Shows */
  --show-item-size: 15%;

  /* Images */
  --avatar-size: 52px;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
