.carousel {
  width: 100%;
  margin-bottom: var(--spacer-large);
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.pages {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  -ms-scroll-snap-type: mandatory;
  scroll-snap-points-x: repeat(100%);
  -ms-scroll-snap-points-x: repeat(100%);
}

.page {
  scroll-snap-align: center;
  flex: 0 0 90%;
  margin-right: var(--spacer-large);
  gap: var(--spacer-large);
  display: inline-flex;
  align-items: flex-start;
  justify-content: space-between;
}

.show {
  flex: 1;
  margin-bottom: var(--spacer-large);
}
