.carousel {
  width: 100%;
  margin-bottom: var(--spacer-large);
  overflow: hidden;
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-left: var(--container-spacer);
}

.pages {
  width: 100%;
  padding-top: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  -ms-scroll-snap-type: mandatory;
  scroll-snap-points-x: repeat(100%);
  -ms-scroll-snap-points-x: repeat(100%);
}

.page:first-child {
  padding-left: calc(var(--container-spacer) - 6px);
}

.page {
  scroll-snap-align: start;
  width: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  padding-right: var(--spacer-large);
  gap: var(--spacer-large);
  display: inline-flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.show {
  margin-bottom: var(--spacer-large);
}
