.container {
  width: 100%;
  margin-bottom: var(--spacer-extra-large);
}

.heading {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.slide {
  width: 100%;
  position: relative;
}

.poster {
  border-radius: var(--radius-extra-large);
  overflow: hidden;
  width: 100%;
  aspect-ratio: 16 / 9;
  position: relative;
}

.poster img {
  object-fit: cover;
  width: 100%;
}

.info {
  width: calc(100% - calc(var(--spacer-extra-large) * 2));
  position: absolute;
  bottom: calc(var(--spacer-extra-large));
  left: var(--spacer-extra-large);
  color: white;
}

.info:before {
  width: calc(100% + calc(var(--spacer-extra-large) * 2));
  height: calc(100% + calc(var(--spacer-extra-large) * 2));
  position: absolute;
  left: calc(-1 * var(--spacer-extra-large));
  bottom: calc(-1 * var(--spacer-extra-large));
  content: '';
  background: rgba(0, 0, 0, 1);
  background: -moz-linear-gradient(0deg, rgba(0, 0, 0, .9) 0%, rgba(0, 0, 0, 0) 100%);
  background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, .9) 0%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(0deg, rgba(0, 0, 0, .9) 0%, rgba(0, 0, 0, 0) 100%);
  border-bottom-left-radius: var(--radius-extra-large);
  border-bottom-right-radius: var(--radius-extra-large);
}

.title {
  max-width: 70%;
  position: relative;
  text-shadow: 1px 1px rgba(0, 0 ,0, .1);
}

.controls {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.overview {
  color: var(--font-color-muted);
  position: relative;
  line-height: 1.5;
  font-size: calc(var(--font-size-base) + 20%);
  flex: 0 0 70%;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.bullets {
  margin-top: var(--spacer-large);
  display: flex;
  align-items: center;
  justify-content: center;
}

.bullet {
  opacity: .5;
  height: 14px;
  width: 14px;
  background-color: var(--color-primary);
  border-radius: 14px;
  cursor: pointer;
  margin-right: var(--spacer-small);
  -webkit-transition: var(--transition-ease-out);
  -moz-transition: var(--transition-ease-out);
  -o-transition: var(--transition-ease-out);
  transition: var(--transition-ease-out);
}

.bullet:hover {
  opacity: 1;
}

.bulletActive {
  opacity: 1;
  width: 40px !important;
  border-radius: 10px;
}
